<nav>
    <ul>
        <li><a href=""><img src="images/Class_Druid.png"   ></img></a></li>
        <li><a href=""><img src="images/Class_Hunter.png"  ></img></a></li>
        <li><a href=""><img src="images/Class_Mage.png"    ></img></a></li>
        <li><a href=""><img src="images/Class_Paladin.png" ></img></a></li>
        <li><a href=""><img src="images/Class_Priest.png"  ></img></a></li>
        <li><a href=""><img src="images/Class_Rogue.png"   ></img></a></li>
        <li><a href=""><img src="images/Class_Shaman.png"  ></img></a></li>
        <li><a href=""><img src="images/Class_Warlock.png" ></img></a></li>
        <li><a href=""><img src="images/Class_Warrior.png" ></img></a></li>
    </ul>
</nav>