<main>
    <div class="format">
        <div class="header">
            <h2>Standart Format</h2>
        </div>

        <div class="list">
            <section class="addition">
                <a href="#"><h1>Awaiking Galakrond</h1></a>
            </section>

            <section class="addition">
                <a href="#"><h1>Descents of Dragons</h1></a>
            </section>

            <section class="addition">
                <a href="#"><h1>Awaiking Galakrond</h1></a>
            </section>

            <section class="addition">
                <a href="#"><h1>Descents of Dragons</h1></a>
            </section>

            <section class="addition">
                <a href="#"><h1>Awaiking Galakrond</h1></a>
            </section>

            <section class="addition">
                <a href="#"><h1>Descents of Dragons</h1></a>
            </section>
        </div>
    </div>

    <div class="format">
        <div class="header">
            <h2>Wild Format</h2>
        </div>

        <div class="list">
            <section class="addition">
                <a href="#"><h1>Awaiking Galakrond</h1></a>
            </section>

            <section class="addition">
                <a href="#"><h1>Descents of Dragons</h1></a>
            </section>

            <section class="addition">
                <a href="#"><h1>Awaiking Galakrond</h1></a>
            </section>

            <section class="addition">
                <a href="#"><h1>Descents of Dragons</h1></a>
            </section>

            <section class="addition">
                <a href="#"><h1>Awaiking Galakrond</h1></a>
            </section>

            <section class="addition">
                <a href="#"><h1>Descents of Dragons</h1></a>
            </section>
        </div>
    </div>
</main>