body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;

    background: #30303d;
}

nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #3b3b47;
    text-align: center;
    width: 125px;
}

nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    padding: 15px;
}

nav img {
    height: 60px;
    width: 60px;
}

nav img:hover {

    filter: invert(59%) sepia(64%) saturate(4158%) hue-rotate(1deg) brightness(104%) contrast(104%);
}